/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #5a3a52;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #5a3a52;
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #5a3a52;
    --global-bg-color                   : #ddc0df; /* rose clair */
    --global-footer-bg-color            : #f3e5f5; /* lilas pastel */
    --global-border-color               : #f0d5eb; /* très doux */
    --global-dark-border-color          : #bc9dcf; /* lavande */
    --global-code-background-color      : #f5e6f7;
    --global-code-text-color            : #3c2c35;
    --global-fig-caption-color          : #8e6a82;
    --global-link-color                 : #5a3a52;
    --global-link-color-hover           : #3a2436;
    --global-link-color-visited         : #7b4a6c;
    --global-masthead-link-color        : #3c2a35;
    --global-masthead-link-color-hover  : #2a1b24;
    --global-text-color                 : #5a3a52;
    --global-text-color-light           : #5a3a52;
    --global-thead-color                : #f3d9eb;
}